.forCopyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.forMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: justify;
}
.forMenu_Vert {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-stye: bold;
	color: #000000;
	line-height: 20px;
	text-align: justify;	
}
.forTexts {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: 15px;
	text-align: justify;

}
.forForms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border: 1px inset;
}
.forButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border: 1px outset;
}
